<!-- pages/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load i18n %}

{% block body %}
<nav>
    <div class="navbar">
        <div class="navbar-content">
            <div class="nav-logo">LOGO</div>
            <div class="nav-items">
                <ul>
                    <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                    <li><a href="{% url 'all_categories' %}">{% trans "Categories" %}</a></li>
                    <li><a href="#contact-us">{% trans "Contact Us" %}</a></li>
                    <li><a href="{% url 'all_companies' %}">{% trans "All companies" %}</a></li>
                </ul>
            </div>
            <div class="nav-search">
                <div class="switcher-language">
                   <form action="{% url 'set_language' %}" method="post">
                        {% csrf_token %}
                        <input name="next" type="hidden" value="{{ request.path }}">
                        <select name="language" id="language" onchange="this.form.submit()">
                            {% get_current_language as current_language %}
                            {% get_available_languages as available_languages %}
                            {% get_language_info_list for available_languages as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}" {% if language.code == current_language %}selected{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select>
                    </form>
                </div>
                <form action="{% url 'all_companies' %}" method="get">
                    <div class="nav-search-box">
                        <input type="text" name="q" placeholder="{% trans 'Search for company' %}" value="{{ search_query }}">
                        <button type="submit"><img src="{% static 'assets/search.png' %}" alt="{% trans 'search' %}"></button>
                    </div>
                </form>
            </div>
            <div class="sidebar">
                <input type="checkbox" id="toggleSidebar">
                <label class="hamburger" for="toggleSidebar">
                    <svg viewBox="0 0 32 32">
                        <path class="line line-top-bottom"
                            d="M27 10 13 10C10.8 10 9 8.2 9 6 9 3.5 10.8 2 13 2 15.2 2 17 3.8 17 6L17 26C17 28.2 18.8 30 21 30 23.2 30 25 28.2 25 26 25 23.8 23.2 22 21 22L7 22">
                        </path>
                        <path class="line" d="M7 16 27 16"></path>
                    </svg>
                </label>
                <div class="sidebar-content">
                    <div class="sidebar-logo">
                        <img src="{% static 'assets/logo.png' %}" alt="logo">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                    </div>
                    <div class="sidebar-items">
                        <ul>
                            <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                            <li><a href="{% url 'all_categories' %}">{% trans "Categories" %}</a></li>
                            <li><a href="#contact-us">{% trans "Contact Us" %}</a></li>
                            <li><a href="{% url 'all_companies' %}">{% trans "All companies" %}</a></li>
                        </ul>
                    </div>
                    <div class="switcher-language">
                       <form action="{% url 'set_language' %}" method="post">
                            {% csrf_token %}
                            <input name="next" type="hidden" value="{{ request.path }}">
                            <select name="language" id="language" onchange="this.form.submit()">
                                {% get_current_language as current_language %}
                                {% get_available_languages as available_languages %}
                                {% get_language_info_list for available_languages as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}" {% if language.code == current_language %}selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section>
    <div class="about-page">
            <div class="about-page-l">
                <h1>About us</h1>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                    took a galley of type and scrambled it to make a type specimen book. It has survived not only five
                    centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                    Ipsum.
                </p>
                <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of
                    classical Latin literature from 45 BC, making it over 2000 years old.</p>
                <div class="about-goal">
                    <div class="about-goal-box">
                        <div class="about-goal-box-value">
                            <span>2</span>
                            <p>yrs</p>
                        </div>
                        <div class="about-goal-box-name">Experiences</div>
                    </div>
                    <div class="about-goal-box">
                        <div class="about-goal-box-value">
                            <span>2</span>
                            <p>k</p>
                        </div>
                        <div class="about-goal-box-name">Products</div>
                    </div>
                    <div class="about-goal-box">
                        <div class="about-goal-box-value">
                            <span>100</span>
                            <p>+</p>
                        </div>
                        <div class="about-goal-box-name">Clients</div>
                    </div>
                </div>
                <p>It is a long established fact that a reader will be distracted by the readable content of a page when
                    looking at its layout.</p>
            </div>
            <div class="about-page-r">
                <div class="about-page-r-img1"></div>
                <div class="about-page-r-img2"></div>
            </div>
        </div>
        <div class="team-top">
            <div class="team-title">Meet Our Team</div>
            <div class="team-slogan">Unity in Diversity, Excellence in Every Endeavor</div>
        </div>
        <div class="">
            <div class="main-wrapper">
                <div class="section slideStyle is--black">
                    <div class="swiper swiperParallax is-gallery">
                        <div role="list" class="swiper-wrapper is-gallery">
                            <div role="listitem" class="swiper-slide is-gallery">
                                <div class="gallery-img__wrapper"><img data-swiper-parallax-x="25%" loading="lazy"
                                        alt="Caption goes here"
                                        src="https://cdn.corporatefinanceinstitute.com/assets/ceo-vs-cfo.jpeg"
                                        class="gallery-img" /></div>
                                <div class="gallery-info__wrapper">
                                    <div class="heading-medium">Name Surname</div>
                                    <div class="position-heading">Direktor</div>
                                </div>
                            </div>
                            <div role="listitem" class="swiper-slide is-gallery">
                                <div class="gallery-img__wrapper"><img data-swiper-parallax-x="25%" loading="lazy"
                                        alt="Another photo caption"
                                        src="https://lighthouse.mq.edu.au/__data/assets/image/0004/917194/women-ceo-tile700x400.jpg"
                                        class="gallery-img" />
                                </div>
                                <div class="gallery-info__wrapper">
                                    <div class="heading-medium">Name Surname</div>
                                    <div class="position-heading">CTO</div>
                                </div>
                            </div>
                            <div role="listitem" class="swiper-slide is-gallery">
                                <div class="gallery-img__wrapper"><img data-swiper-parallax-x="25%" loading="lazy"
                                        alt="Photo caption"
                                        src="https://getweeklyupdate.com/blog/wp-content/uploads/2018/02/27.jpg"
                                        class="gallery-img" />
                                </div>
                                <div class="gallery-info__wrapper">
                                    <div class="heading-medium">Name Surname</div>
                                    <div class="position-heading">CEO</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>

{% endblock %}
